<div class="sitewide-footer">
<a href="/">Home</a> 
 - <a href="<!-- tmpl_var name="home_page" -->/thread/mgxssT7Kt2JkdDDjP5gpGw/warbler-webmentionbased-message-board">Info</a> 
</div>

<div style="text-align: center; margin-top: 20px; line-height: 100%">
<small>Warbler is a <a href="http://indieweb.org/webmention">Webmention</a>-based message board</small>
</div>

<br />
</body>
</html>
