
<hr />

<br />
Add your comment by placing the link to your response here. Your post must include the link for this thread.
<br />
<br />
<form  action="/webmention" method="post">
<input size=31 type=text name="source"> 
<input type="hidden" name="target" value="<!-- tmpl_var name="target_url" -->"> 
<input class="submitbutton" type=submit name=sb value="Submit">
</form>
<br />
