<head>
<title><!-- tmpl_var name="pagetitle" --></title>
<meta charset="UTF-8" /> 
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel="webmention" href="<!-- tmpl_var name="webmention_endpoint" -->" />
<link rel="feed" type="text/html" title="Microformatted HTML h-feed page" href="<!-- tmpl_var name="home_page" -->">
<style>
<!-- tmpl_include name="inc_css.tmpl" -->
</style>
</head>
