<!-- tmpl_include name="replyheader.tmpl" -->

<p>
<!-- tmpl_var name="html" -->
</p>

<!-- tmpl_loop name="comment_loop" -->
<p>
<!-- tmpl_var name="comment_html" -->
</p>
<!-- /tmpl_loop -->

<!-- tmpl_include name="inc_commentform.tmpl" -->

<!-- tmpl_include name="footer.tmpl" -->

