<!-- tmpl_include name="header.tmpl" -->

<h3>An Error Has Occurred:</h3>

<p style="margin: 20px 0 20px 0;">
<!-- tmpl_var name="cusmsg" -->
</p>

<p style="margin: 20px 0 20px 0;">
<!-- tmpl_var name="sysmsg" -->
</p>

<!-- tmpl_include name="footer.tmpl" -->
